.tile {
  border: 1px solid grey;
  background-color: #fff;

  &__node {
    @include tile-background;
    background-color: aqua;
  }

  &__wall {
    @include tile-background;
    background-color: red;
  }

  &__visited-1 {
    @include tile-background;
    background-color: rgb(111, 255, 118);
  }

  &__visited-2 {
    @include tile-background;
    background-color: rgb(208, 255, 98);
  }

  &__path-1 {
    @include tile-background;
    background-color: rgb(211, 109, 255);
  }

  &__path-2 {
    @include tile-background;
    background-color: rgb(255, 78, 167);
  }
}
