.tile {
  border: 1px solid grey;
  background-color: #fff;

  &__node {
    @include tile-background;
    background-color: rgb(130, 255, 255);
    border: 1px solid rgb(130, 255, 255);
    background-image: url(../images/locator-icon.png);
  }

  &__wall {
    @include tile-background;
    background-color: rgb(47, 47, 47);
    background-image: url(../images/wall-grey.png);
  }

  &__visited-1 {
    @include tile-background;
    animation: visited-1 0.4s ease;
    background-color: rgb(111, 255, 118);
  }

  &__visited-2 {
    @include tile-background;
    animation: visited-2 0.4s ease;
    background-color: rgb(208, 255, 98);
  }

  &__path-1 {
    @include tile-background;
    background-color: rgb(211, 109, 255);
    border: 1px solid rgb(211, 109, 255);
  }

  &__path-2 {
    @include tile-background;
    background-color: rgb(255, 78, 167);
    border: 1px solid rgb(255, 78, 167);
  }
}
